<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test" parallel="classes">
		<classes>
			<class name="involveme_tests.StartPageTest" />
			<class name="involveme_tests.LoginPageTest" />
			<class name="involveme_tests.TemplatesPageTests" />
			<class name="involveme_tests.EditorPageTest" />
			<class name="involveme_tests.ProjectsPageTest" />
			<class name="involveme_tests.AnalyticsPageTest" />
			<class name="involveme_tests.IntegrationsPageTest" />
			<class name="involveme_tests.AffiliateProgramPageTest" />


		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
